body{
	margin: 0;
	padding: 0;
	background: url(event.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.event{

width: 320px;
height: 550px;
background: #306754;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;

}
h2{
margin:0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
font-family: Comic Sans MS;
color: #FFF5EE;
text-shadow: 2px 1px 2px navy;

}
h5{
color: #9F000F;
 margin:0;
padding: 0;
font-weight: bold;

}

.event p{
color: black;
 margin:0;
padding: 0;
font-weight: bold;
}

.event input{

 width: 100%;
margin-bottom: 20px;
}

.event input[type="text"]{

 border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #9F000F;
font-size: 16px;
}
.event input[type="submit"]{

 border:none;
background: #A0CFEC;
outline: none;
height: 40px;
color: #fff;
font-size: 18px;
border-radius: 20px;
}
.event input[type="submit"]:hover{

 cursor: pointer;
background: #438D80;
color: #000;
}

.event a{

 text-decoration: none;
font-size: 12px;
line-height: 20px;
color: #438D80;
}
.event a:hover{

color: #A0CFEC;
}