<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
</head>
<center>
<body style="height: 100vh; background-size: cover;" background= "contact.jpg">
    <b>
    <div class="contact">
        
            
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 style="font-family: Comic Sans MS; font-size: 45px; text-shadow: 1px 2px 3px #659EC7;">Contact Information</h1>
                
                    <li style="font-size: 30px; font-family: Comic Sans MS; text-shadow: 2px 1px 2px pink;">
                        <span><img src="location.png"></span>
                        <span>House-48, Kawla, Uttara-1229<br>
                         Dhaka 1229</span>
                    </li>
                    <br>
                    <li  style="font-size: 30px; font-family: Comic Sans MS; text-shadow: 2px 1px 2px pink;">
                        <span><img src="mail.png"></span>
                        <span>sumaiyarafia232@gmail.com<br>
                         rafiaaaa@gmail.com</span>
                    </li>
                    <br>
                    <li  style="font-size: 30px; font-family: Comic Sans MS; text-shadow: 2px 1px 2px pink;">
                        <span><img src="call.png"></span>
                        <span>01741185950</span>
                    </li>
                    
                
            
        
    </div>
    </center>
</body>
</html>